out
dist
node_modules
.vscode-test/
*.vsix
.DS_Store
package-lock.json
demo/donate.html
demo/api.html
yarn-error.log

template/leek-center/build
template-packages/leek-center/.eslintcache
!template-packages/leek-center/yarn.lock

.idea
